body {
    font-family:'Geneva',sans-serif; 
    color:#000;
    font-size:12px;
    /*font-weight:200; */
    margin:0px;
}

a {
    padding-left:1px;
    padding-right:1px;
    text-decoration:none;
    border-bottom:0.5px dashed #444;
    color:#000;
    background-color:#eee; /*breaking lightbox*/
}

a:hover {
    background-color:#ddd;
    color:#000;
}

ul {
    padding: 0px;
    list-style: none;
    text-align:left;
}
ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.4em;
}

/* NAVBAR */
.navbar {
    font-size:1.1em;
    padding-left: 32px;
    border-bottom: 1.0px solid #dedeef;
    display: inline-block;
    width:95%;
}
.navbar a {
    background-color:#fff;
}
.navbar a:hover {
    background-color:#ddd;
}
nav ul li {
    margin-right: 25px;
    font-size: 1.4em;
}
nav ul li.active {
    font-weight:bold;
    font-size: 1.6em;
}
.mainnav, .sidenav {
    display: inline-block;
}
.mainnav{
    float:left;
}
.sidenav {
    /* float:right; */
    padding-left:35px;
    padding-right:35px;
}
.sidenav ul li {
    margin-right: 0px;
    margin-left: 10px;
}    


/* CONTAINER / PROJECTS / ARCHIVE */
#container {
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 5px;
    margin-top: 5px;
}

#works {
    padding: 10px;
    width:97%;
}

#work {
    width: 90%;
    max-width: 860px;
    padding: 22px;
}

.project {
    width:324px;
    height:240px;
    margin:2px;
    padding:0px;
    position:relative;
    display:inline-block;
    text-align:left;
}

.project a, .project a:hover {
    border-bottom:0;
}

/* MAIN PAGE OVERLAYS */
.overlay {
    display:none;
}
.overlay_title {
    font-size:1.5em;
}
.overlay_description {
    font-size:1.25em;
    /*margin-top:8px;*/
    position: absolute; 
    bottom: 16px;
}
.project:hover .overlay {
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    /*border:2px solid #1abc9c;*/
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:white;
    padding:10px;
}

/* INDEX/ABOUT */
#about_left {
	display: inline-block;
	vertical-align: top;
	width: 210px;
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 45px;
	text-align: center;
}
#about_right {
    display: inline-block;
	vertical-align: top;
	/* background-color:#00f; */
	margin: 15px;
    width: calc(97% - 280px);
    min-width: 380px;
	max-width: 720px;
}

#about_right ul {
	/* background-color:#fff; */
	padding-left:28px;
	line-height:2.75em;
}

#about_right ul li {
	display: list-item;
	/* background-color:#aa3; */
	list-style-type: disc;
	font-size: 1.5em;
}
#myemail {
  margin-top: 25px;
  margin-bottom:30px;

}

#about_left a, .sidenav a {
    text-decoration: none;
    border-bottom: none;
    font-size:1.5em;
	background-color:#fff; 
}

#about_left a:hover, .sidenav a:hover {
  background-color:#fff;
  color:#000;
}

#about_left ul {
    margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#about_left li {
	margin:0px;
	padding:3px;	
}


/* NORMAL PARAGRAPHS IN PROJECTS */
p {
    font-size:1.5em;
    line-height:1.4em;
    color: #333;
}
.project_title {
    font-size:2.4em;
    font-weight:bold;
}
.project_year {
    font-size:2.0em;
    color:#555;
    margin-left:12px;
}

/* WORKSHOPS */
.ulworkshops ul {
    list-style: square;
    text-align: left;
    list-style-type: circle;
}
.ulworkshops ul li {
    display: block;
    padding: 5px;
    list-style: square;
    list-style-type: circle;
    font-size: 1.0em;
}

/* CV */

#cv_main {
    width: 95%;
    max-width: 1280px;
    padding-left:20px;
}
#cv_bio, #workshops_about {
    font-size:1.3em;
}
.cv_section, .workshops_section {
    margin-top:25px;
}
.cv_heading, .workshops_heading {
    font-size:1.4em;
    margin-bottom:5px;
}
.cv_entry {
    background-color: #eee;
    margin-top:4px;
    margin-bottom:4px;
    padding:3px;
    min-width:250px;
    max-width:1050px;
    /*border-top:1px solid #ddd;*/
}
.cv_entry.extended {
	display: none;
}
.cv_entry.upcoming {
	background-color:#ddeedd;
}
.date, .type, .where, .name, .links, .info_link, .video_link {
    display:inline-block;
    vertical-align: middle
}
.type {
    width:10%;
    min-width:90px;
}
.date {
    width:12%;
    min-width:100px;
}
.where {
    width:32%;
    min-width:150px;
}
.name {
    width:32%;
    min-width:150px;
}
.links {
    min-width:100px;
}
.cv_heading ul {
    color:#000;
    background-color:#fff;
    list-style: none;
    text-align:left;
}
.cv_heading ul li {
    color:#000;
    background-color:#fff;
    display: inline;
    margin-right: 20px;
    font-size: 1.15em;
}
.cv_heading a {
    text-decoration:none;
    border-bottom:0.5px dashed #49e;
    padding: 3px;
    color:#000;
    background-color:#fff; /*breaking lightbox*/
}
.cv_heading a:hover, .cv_heading .active a:hover {
    background-color:#49e;
}
.cv_heading .active a {
    background-color:#9be; 
}


/* BLOG */
#blog_title {
    color: #111;
    font-size: 2.4em;
    font-weight: 900;
    padding-bottom:10px;
}
#blog_subtitle { 
    color: #444;
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom:30px;
}
#blog_date {   
    color: #000;
    font-size: 1.2em;
    padding-bottom:10px;
    padding-top:10px;
}
#blog_post {   
    color:#000;
    font-size:1.0em;  
    padding-bottom:60px;
}
