body {
	font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
	/*font-family: "Apercu Bold", sans-serif; font-weight:1000;*/
}

#main {
	position: fixed;
    top: 50px;
    right: 0px;
    left:50%;
    display: inline-block;
    text-align:center;
    font-size:28px;
    padding:32px;
}

#d_people, #d_workshops, #d_schedule, #d_contact, #d_tickets, #d_where {
	width:49%;
	margin-top:50px;
	display: inline-block;
	margin-bottom:200px;
}

#d_exhibition, #d_watch {
	width:99%;
	margin-top:50px;
	display: inline-block;
	margin-bottom:200px;
}

#d_exhibition_left, #d_watch_left {
	width:49%;
	display: inline-block;
	vertical-align:top;
}
#d_exhibition_right, #d_watch_right {
	width:49%;
	display: inline-block;
	vertical-align:top;
}
#d_exhibition_meta {
	width:75%;
	vertical-align:top;
	margin-right:auto;
	margin-left:auto;
}

#d_watch_left, #d_watch_right {
	margin: 0 auto;
	text-align:center;
}

#open_call {
	padding:60px;
}

h1 {
	font-size:24px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #000;
}
h2 {
	font-size:20px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 400; color: #000;
}
h3 {
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #000;
}
h4 {
	font-size:12px;
	font-family: 'Source Sans Pro', sans-serif; font-weight: 50; color: #000;
}

a {
	background-color:#333;
	padding:1px;
	text-decoration: none;
	color:#fff;
	font-weight: 500;
}
a:hover {
	background-color:#1abc9c;
}

ul {
    list-style-type: none;
}

.person {
	padding-left:40px;
	margin-bottom:30px;
	font-size:14px;
    min-height:230px;
}

.workshop, .exhibit {
	padding-left:40px;
	font-size:14px;
	padding-bottom:65px;
}

.pic {
	border: thick solid #eee;
	margin-bottom:20px;
}

.name {
	border-bottom: thick solid #eee;
    font-size:18px;
    padding-bottom:8px;
}

.description {
	padding-top:8px;
	line-height:130%;
}

.sched_header {
	background-color:#ccc;
	width:320px;
	padding-left:4px;
	padding-right:20px;
}

.sched_entry {
	line-height:175%;
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.sched_time {
	display:inline-block;
	width:100px;
	padding-left:10px;
	vertical-align:top;
}
.sched_location {
	display:inline-block;
	width:50px;
	vertical-align:top;
}
.sched_description {
	display:inline-block;
}
