.example_container {
  position: relative;
  overflow: scroll;
  height: 500px; /* arbitrary */
}

.example_container .edit_space,
.example_container pre {
  position: absolute !important;
  top: 0.5em !important;
  left: 420px !important; /* arbitrary */
  padding-top: 0 !important;
  border: none !important;
}

pre.norender { /* code only, no sketch */
  left: 0px !important;
  margin-left: 0 !important;
}

.example_container pre {
  margin-top: 0 !important;
  width: 30.5em !important;
}

.example_container textarea {
    margin: -0.14em 0 0 0.36em !important;
    border: none !important;
    outline: none !important;

    overflow: scroll;
    height: 400px;
}

.example_container pre {
    margin-top: 0 !important;
    width: 30.5em !important;

    height: 80%;
    overflow: scroll;
}

.example_container {
    position: relative;
    /* overflow: scroll; */
    height: 500px;
    overflow: hidden;
}

/* BUTTON STYLING */

.example_container button {
  position: absolute;
  top: 0.25em;
}

.edit_space button {
  font-family: "AvenirNextLTW01-Medium";
  font-size: 1em;
  color: #ccc;
  border: 1px solid rgba(200, 200, 200, .15);
  background: transparent;
  outline: none;
}

.example_container button:hover, .example_container.editing button {
  color: #2D7BB6;
  border-color: rgba(45,123,182, .25);
}

.edit_button {
  left: 24.5em;
}

.reset_button {
  left: 27.5em;
}

.display_button {
  margin-bottom: 2em;
  font-family: "AvenirNextLTW01-Medium";
  font-size: 1em;
  color: #2D7BB6;
  border: 1px solid rgba(45,123,182, .25);
  background: transparent;
  outline: none;
}